* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dddddd;
}

main {
    width: 600px;
    background-color: #ffffff;
    margin: 5em auto;
    padding: 2em;
    border-radius: 20px;
}


input[type="text"] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
}

fieldset {
    width: 100%;
    padding: 0.8em;
}

input[type="radio"] {
    margin-right: 0.5em;
}

input[type="button"] {
    width: 100%;
    margin: 0.8em 0;
    padding: 0.5em;
    background-color: rgb(62, 219, 166);
    color: #ffffff;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(50, 164, 126);
    color: #ffffff;
}

h1, p {
    text-align: center;
    margin: 0.8em 0;
}

p {
    font-size: 0.8rem;
}

.div-imagem {
    /* background-color: aqua; */
    text-align: center;
}

img {
    display: block;
    margin: 1.5em auto;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    color: brown;
    text-decoration: underline;
}